// COLORS
$black: #000000;
$primary: #5928e5;
$secondary: #fed9da;
$white: #ffffff;
// FONTS
$primary-font: "Cantarell", sans-serif;
$secondary-font: "Exo", sans-serif;
// RESOLUCIONES
$m: 600px;
$l: 1200px;
$xl: 1400px;
