.nav {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  // padding: 1.6rem 0 0 0;
  height: 80px;

  & &__info {
    display: flex;
    align-items: center;
  }

  & &__logo {
    margin-left: 15px;
  }
}
