.skills {
  width: 90%;
  margin: 0 auto;

  & .skills__container {
    margin-bottom: 24px;
    & img {
      width: 32px;
      height: 32px;
      margin-bottom: 24px;
    }
  }

  & .skills__title {
    font-size: 2.4rem;
    margin: 0;
  }
}
